# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# =========================
# Virtual Environment
# =========================
venv/
.env

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Vector Database
# =========================
vectorstore/chroma/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/
